.container{
display: flex;
height: "100%";
flex-direction: column;
justify-content: center;
align-items: center;
}

.title{
    font-family: Montserrat;
}

.image{
    height: 100px;
    width: 100px;
}