@import "../../util/colors.css";
.container{
    width: 20%;
    border-color: white;
    border-radius: 10px;
    }
.content{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    color:var(--primary-color300);
    text-align: center;
}
.inputDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.buttonsDiv{
    display: flex;
    gap: 0.7rem;
}
.errorMessage{
    color:var(--error300)
}